@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --modal-duration: 1s;
  --color-primary: #800080;
  --color-primary-dark: #660066;
  --color-secondary: #d502a0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  transition: transform 0.3s;
}

body.show-nav {
  /* width of navbar */
  /* it is also work when we write translate because the first param in 'translate' is the x value */
  transform: translate(300px);
}

nav{
  background-color: var(--color-primary);
  border-right: 2px solid rgba(75, 0, 75,0.2);;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  z-index: 100;
  transform: translateX(-100%);
}

nav .logo{
  padding: 30px 0;
  text-align: center;
}

nav .logo img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

nav ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

nav ul li{
  border-bottom: 2px solid rgba(75, 0, 75,0.2);
  padding: 20px;
}

nav ul li:first-of-type{
  border-top: 2px solid rgba(75, 0, 75,0.2);
  
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}


/* Header */

header {
  background-color: var(--color-primary);
  color: #fff;
  position: relative;
  font-size: 130%;
  padding: 40px 20px;
  text-align: center;
}

header h1{
  margin: 0;
}

header p {
  margin: 30px 0;
}

button, input[type='submit'] {
  background-color: #fff;
  border: 0;
  border: 1px solid var(--color-secondary);
  color:var(--color-secondary);
  border-radius: 10px;
  font-size: 16px;
  padding: 8px 12px;
  font-weight: bold;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.toggle {
  background-color: rgba(0,0,0,0.2);
  border: 0;
  color: #fff;
  position: absolute;
  left: 20px;
  top: 20px;
}

.cta-btn {
  padding: 12px 30px;
  font-size: 20px;
  background-color: var(--color-secondary);
  border: 0;
  color: #fff;
}

.container {
  padding: 15px;
  margin: 0 auto;
  max-width: 100%;
  width: 800px;
}

.container h2 {
  color: var(--color-primary-dark);
  font-weight: bold;
  padding: 10px 0;
}

.modal-container {
  background-color: rgba(0,0,0,0.6);
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

}

.modal-container.show-modal {
  display: block;
}

.modal {
  background-color: #fff;
  position: absolute;
  border-radius: 5px;
  box-shadow: 0,0,10px, rgba(0,0,0,0.3);
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 400px; 
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header {
  background-color: var(--color-primary);
  color: #fff;
  padding: 15px;
  
}

.modal-header h3 {
  margin: 0;
}

.modal-content {
  padding: 20px;
}

.modal-content p{
  color: var(--color-primary-dark);
}

.modal-form div {
  margin: 15px 0;
}

.modal-form label {
  display: block;
  margin-bottom: 5px;
  color: var(--color-secondary);
}

.modal-form .form-input {
  padding: 8px;
  width: 100%;
  border: 0;
  border: 1px solid var(--color-primary-dark);
  color:var(--color-primary-dark);
  border-radius: 5px;
}

input:focus { 
  outline: none ;
  border-color: var(--color-secondary);
  box-shadow: 0 0 10px rgba(120,0,120,0.6);
}

::placeholder {
  color: var(--color-secondary);
 
}

.close-btn {
  background:transparent;
  font-size: 25px;
  border: 0;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}