body {
    background-color: #34495e;
    color: #fff;
}

.figure-container {
    fill: transparent;
    stroke: #fff;
    stroke-linecap: round;
    stroke-width: 4px;
}

.figure-part {
    display: none;
}