* {
    box-sizing: border-box;
}

body {
    background-color: #34495e;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    margin: 0;
    overflow: hidden;
}

h1 {
    margin: 20px 0 0;
}

.game-container {
    padding: 20px 30px;
    position: relative;
    margin: auto;
    width: 450px;
    height: 350px;
}

.figure-container {
    fill: transparent;
    stroke: #fff;
    stroke-linecap: round;
    stroke-width: 4px;
}

.figure-part {
    display: none;
}

.wrong-letter-container {
    position: absolute;
    top:20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.wrong-letter-container p{
    margin: 0 0 10px;
    font-weight: bold;
}

.wrong-letter-container span{
    font-size: 20px;
    font-weight: bolder;
}

.word {
    
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;    
    /* if we give vale to the x we can write only translate because the first value is for x */
    transform: translateX(-50%);   
}

.letter {
    border-bottom: 3px solid #2980b9;
    display: inline-flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
    height: 50px;
    width: 20px;
}

.popup-container {
    background-color: rgba(0, 0, 0, 0.3);
    /* position: fixed; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
}

.popup {
    background: #2980b9;
    padding: 40px 80px;
    border-radius: 5px;
    box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.popup button {
    background-color: #fff;
    border: 0;
    border: 1 px solid #1067a1;
    color: #1067a1;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.popup button:hover {
    background-color: #1067a1;
    color: #fff;
}

.popup button:active {
    transform: scale(0.98);
}

.popup button:focus {
    outline: 0;
}

.notification-container {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 0 0;
    padding: 15px 20px;
    position: absolute;
    bottom: -50px;
    transition: transform 0.3s ease-in-out;
}

.notification-container p {
    margin: 0;
}

.notification-container.show {
    transform: translateY(-50px);
}